<div ng-controller="DashboardController">
  <h1 class="text-center"><a href="#/">Wanderlist</a></h1>
  <div class="jumbotron">
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
      <img class="card-img-top img-responsive dashpic" src="https://crossorigin.me/http://www.fourseasons.com/content/dam/fourseasons/images/web/NYF/NYF_395crop_1280x486.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg" alt="Card image cap"/>
      <div class="card-block">
        <h4>Austin -> New York</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Dep: 09/23/2016</li>
        <li class="list-group-item">Ret: 09/26/2016</li>
        <li class="list-group-item">Price: $627.20</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
      <img class="card-img-top img-responsive dashpic" src="https://images-resrc.staticlp.com/S=W1000M,H700M/O=85/http://media.lonelyplanet.com/a/g/hi/t/da5189f3995d3c908d9cfa633ba70c93-crandon-park.jpg" alt="Card image cap"/>
      <div class="card-block text-xs-center">
        <h4>Austin -> Miami</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Dep: 10/04/2016</li>
        <li class="list-group-item">Ret: 10/09/2016</li>
        <li class="list-group-item">Price: $450.21</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
      <img class="card-img-top img-responsive dashpic" src="https://lonelyplanetimages.imgix.net/a/g/hi/t/9cf024dfd5c0bcb2b17f4785340145ea-san-francisco.jpg?sharp=10&vib=20&w=1200" alt="Card image cap"/>
      <div class="card-block">
        <h4>Austin -> San Francisco</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Dep: 11/03/2016</li>
        <li class="list-group-item">Ret: 11/09/2016</li>
        <li class="list-group-item">Price: $291.20</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
      <img class="card-img-top img-responsive dashpic" src="https://lonelyplanetimages.imgix.net/a/g/hi/t/1da32e09c1497a907cda4479049e6b2b-denver.jpg?sharp=10&vib=20&w=1200" alt="Card image cap" />
      <div class="card-block">
        <h4>Austin -> Denver</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Dep: 10/12/2016</li>
        <li class="list-group-item">Ret: 10/16/2016</li>
        <li class="list-group-item">Price: $132.20</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
      <img class="card-img-top img-responsive dashpic" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Space_Needle002.jpg" alt="Card image cap"/>
      <div class="card-block">
        <h4>Austin -> Seattle</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Dep: 10/12/2016</li>
        <li class="list-group-item">Ret: 10/16/2016</li>
        <li class="list-group-item">Price: $291.70</li>
      </ul>
    </div>
  </div>
</div>
