<div ng-controller="SignupController">
  <div class="container">
    <p class="title text-center">
      Signup
    </p>
    <form>
      <div class="form-group">
        <label for="fName">First name</label>
        <input style="font-size: 25px" type="text" class="form-control" id="fName" placeholder="First name" ng-model="user.fname">
      </div>
      <div class="form-group">
        <label for="lName">Last name</label>
        <input style="font-size: 25px" type="text" class="form-control" id="lName" placeholder="Last name" ng-model="user.lname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input style="font-size: 25px" type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
      </div>
      <div class="form-group">
        <label for="home">Home City</label>
        <input style="font-size: 25px" type="text" class="form-control" id="home" placeholder="Home City" ng-model="user.home_city">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input style="font-size: 25px" type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
      </div>
      <button class="btn btn-primary" type="button" ng-click="view.signup(user)">Signup</button>
      <a href="#/">Home</a>
    </form>
  </div>
</div>
