<div ng-controller="SignupController">
  <div class="container">
    <p class="title text-center">
      Signup
    </p>
    <form>
      <div class="form-group">
        <label for="fName">First name</label>
        <input type="text" class="form-control" id="fName" placeholder="First name">
      </div>
      <div class="form-group">
        <label for="lName">Last name</label>
        <input type="text" class="form-control" id="lName" placeholder="Last name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
    </form>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <a href="#/">Home</a>
  </div>
</div>
