<div ng-controller="UserViewController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-center" href="#/" style="font-size: 40px; color: #4C2700">Wanderlist</a>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="userView">
      <div class="welcome">
        <h1>Welcome, <a href ng-click="view.editUser()">{{view.users.fname}}</a></h1>
      </div>
      <div class="col-md-4">
        <p class="input-group">
          Departure Date: <input type="date" ng-model="view.depDate">
        </p>
      </div>
      <div class="col-md-4">
        <p class="input-group">
          Returning Date: <input type="date" ng-model="view.arrDate">
        </p>
      </div>
      <div class="btn-group col-md-4">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Where do you want to Wander?</button>
        <ul class="dropdown-menu">
          <li><a href ng-click="view.destCity(city)" ng-repeat="city in view.cities">{{city}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="showFlightInfo text-center" class="ng-hide" ng-hide="view.showFlightInfo">
    <span us-spinner ng-hide="view.spinner"></span>
    <h3>Austin -> {{view.destination}}</h3>
    <div class="flightInfo">
    </div>
  </div>
  <div ng-hide="view.editValue" class="ng-hide">
    <div class="container">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input style="font-size: 25px" type="email" class="form-control" id="email" ng-model="edit.email">
        </div>
        <div class="form-group">
          <label for="home">Home City</label>
          <input style="font-size: 25px" type="text" class="form-control" id="home" ng-model="edit.home_city">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input style="font-size: 25px" type="password" class="form-control" id="password" ng-model="edit.password">
        </div>
        <button class="btn btn-primary" type="button" ng-click="view.change(edit)">Change me</button>
      </form>
    </div>
  </div>
</div>
